<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/normallize.css">
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
    <title>Document</title>
</head>

<body style="margin: 0">
    <div id="root"></div>
    <h1>Page1</h1>
    <button onclick="handler()">点我</button>
</body>
<!-- <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/js-md5@0.8.3/src/md5.min.js"></script> -->
<script type="text/javascript">
    const handler = () => {
        axios.get('/api/project/list').then(res => console.log(res))
    }
</script>

</html>